.container {
  width: 245px;
  height: min-content;
  
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  box-sizing: border-box;
  
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.items {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  border: 4px dotted black;
  transition: all 0.6s;
}


.items, .card-Linkedin, .card-github, .card-twitter  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items i {
  font-size: 100px;
  color: #0a66c2;
  transform: translateY(0px);
  transition: all 0.6s;
}

.items {
  align-self: end;  
}

.items:hover {
    border: 3px solid #ec4545;
    transform: translateY(10px);
    transform: translateY(-5px);
}

.card-Linkedin {
  align-self: start;
}
.card-Linkedin p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #0a66c2;
  transform: translateY(0px);
  transition: all 0.5s;
}

.icon-wrapper-linkedin i{
  color: #0a66c2;
}

.card-github {
  align-self: start;
}
.card-github p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #161b22;  
  transform: translateY(0px);
  transition: all 0.5s;
}

.icon-wrapper-github i{
  color: #161b22;
}

.card-twitter {
  align-self: start;
}
.card-twitter p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(29, 155, 240);  
  transform: translateY(0px);
  transition: all 0.5s;
}

.icon-wrapper-twitter i{
  color: rgb(29, 155, 240);
}