.card {
  font-family: sans-serif;
  background: white;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);
  transition: duration 0.75, type "spring";
}

.card p {
  font-family: sans-serif;
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 35rem;
  opacity: 0;
  opacity: 1;
}