* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(to right, #2c5364, #203a43);
}

/*togliere questo centra tutto il contenuto di app*/
.App {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}
